* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background: #181719;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

html{
    margin-bottom: 100px;
}

.nav__bar{
   
    height: 70px;
    width: 100%;
   
    z-index: 1;
}

ul li{
    display: inline-block;
    margin-left: 60px;
}

a:link ,  a:visited {
    color: white;
    text-decoration: none;

  }

a:hover, a:active{
    color: white;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}
  
.logo {
    border: 2px solid white;
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}

.container{
 

    margin: 0 auto;
    width: 90%;
}

strong {
    font-size: 18px;
    padding-top: 20px;
}

section {
    display: grid;
    grid-template-columns: 400px 1fr;
    /* grid-template-rows: auto; */
}

#section__heading{
    font-size: 48px;
    margin-bottom: 20px;
}

section div p {
    font-size: 24px;
}

#pic1 {
    height: 60vh;
    margin-left: 40px;
    object-fit: contain;
    float: right;
}

#read-more {
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
}

#section__img{
    margin-left: auto;
}

#grid-text {
    align-self: center;
}

footer {
   position: fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
    text-align: center;

    
}

.card{
position: absolute;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
width: 380px;
height: 180px;
background-color: #181719;
bottom: -100px;
right: 30px;
}

#card-down-text{
    font-family: "Lora";
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
}

#image-2 {
    clip-path: circle();
    height: 50px;
    

}

.section__img{
    position: relative;
}
#card-first-div{
    display: flex;
    margin: 20px;
    margin-bottom: 0;
    gap: 20px;
}

#girl-text {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
}

#about-girl{
    margin-top: 5px;
    font-size: 14px;
    color:gray;
}

.right {
    width: 20px;
    margin-left: 10px;
}
.more{
    display: flex;
    align-items: flex-end;
}

#menu__icon {
    display: none;
}

.menu-appear{
    display: none;
}

@media only screen and (max-width: 1000px){
    section{
        display: block;
    }

    #nav__bar {
        display:none;
    }

    #menu__icon {
        display: block;
        width: 40px;
    }

    #pic1 {
       
        display: block;
        width: 100%;
        margin: 0 auto;
        object-fit: contain;
        margin-top: 20px;
        
    }
    .card{
        position: absolute;
        width: 300px;
        height: 160px;
        bottom: -450px;
        right: 30px;
        }

}